header {
    background-color: greenyellow;
    font-family: Verdana;
    padding: 10px; text-align: center;
}

#imagen-de-fondo{

    display: block;
    margin:auto;
}

#logo {
    display: block;
    margin: 10px auto     !important;
}