header {
    background-color: greenyellow;
    font-family: Verdana;
    padding: 10px; text-align: center;
}

#contenedor-img-fondo{
    text-align: center;
}
#imagen-de-fondo{

    display: inline-block;
    margin:auto;
    margin: 10px 100px ;
}

#logo {
    display: block;
    margin: 10px 100px ;
}

#menu-elementos{
    list-style: none;
}

#menu a{
    text-decoration: none;
}