body{
    background-color: black;
    width: 100%;
}

.headerdiv {
    font-family: "BBH Hegarty", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    background-color: greenyellow;

    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.headerdiv > div {
    display: flex;
    justify-content: center;
}

.titulo{
    width: 25%;
    margin: 1px;
}

.formulario{
    margin: 5px;
    width: 100%;
    background-color: white;
}

.logodiv {
    width: 25%;
    margin: 1px;
    height: 25%;
    width: 15%;
}

.menu{
    width: 100%;
}
.menu>nav{
    width: 100%;
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.menu>nav>div{
    margin: 1px 10px;
}

#imagen-de-fondo { 
    width: 100vw;
    height: auto;
    display: block;
}

#logo {
    height: 100%;
    width: 100%;
}

footer{
    font-weight: 40;
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.datos{
    display: flex;
    justify-content: center;
}

.datos>lista1 , .datos>lista2{
    margin: 2px 10px;
}

.datos>p{
    justify-content: center;
}