header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: greenyellow;
    padding: 10px; text-align: center;
}

h1{
  font-family: "BBH Hegarty", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

#contenedor-img-fondo{
    text-align: center;
}
#imagen-de-fondo{

    display: inline-block;
    margin:auto;
    margin: 10px  ;
}

#logo {
    display: block;
    margin: 10px auto ;
}

#menu-botones{
    list-style: none !important;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu-botones li{
    display: inline-block;
    margin: 0 15px;
}

#menu-botones a{
    text-decoration: none;
}