header {
    background-color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px; text-align: center;
}

#imagen-de-fondo{
    text-align: center;
    margin: 100px auto;
    !important;
}

#logo {
    display: block;
    margin: 10px auto;
    !important;
}