body{
    background-color: black;
    width: 100%;
}

.headerdiv {
    font-family: "BBH Hegarty", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    background-color: greenyellow;

    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.headerdiv > div {
    display: flex;
    justify-content: center;
}

.titulo{
    margin: 1px;
    border: 2px groove black;
}

.logodiv {
    margin: 1px;
    height: 25%;
    width: 15%;
}

.menu{
    width: 100%;
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#imagen-de-fondo { 
    width: 100vw;
    height: auto;
    display: block;
}

#logo {
    height: 100%;
    width: 100%;
}

#menu-botones{
    list-style: none !important;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu-botones li{
    display: inline-block;
    margin: 0 15px;
}

#menu-botones a{
    text-decoration: none;
}