header {
    background-color: greenyellow;
    font-family: Verdana;
    padding: 10px; text-align: center;
}

#contenedor-img-fondo{
    text-align: center;
}
#imagen-de-fondo{

    display: inline-block;
    margin:auto;
    margin: 10px auto ;
}

#logo {
    display: block;
    margin: 10px auto ;
}

#menu-botones{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu-botones li{
    display: inline-block;
    margin: 0 15px;
}

#menu-botones a{
    text-decoration: none;
}