body{
    background-color: black;
}

header {
    font-family: "BBH Hegarty", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    background-color: greenyellow;
    padding: 10px; text-align: center;
}

#contenedor-imagen-de-fondo{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logo {
    display: block;
    margin: 10px auto ;
}

#menu-botones{
    list-style: none !important;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu-botones li{
    display: inline-block;
    margin: 0 15px;
}

#menu-botones a{
    text-decoration: none;
}